---
layout: default
---
<div class="posts">
    {% for post in paginator.posts %}
        <div class="post">
      <div class="post-thumb">  {% if post.thumbnail %}
<img  alt="{{ post.title | escape }}" title="{{ post.title | escape }}" src="{{ post.thumbnail }}">
  {% else %}
  <img  alt="{{ post.title | escape }}" title="{{ post.title | escape }}" src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg">
  {% endif %}  </div>
      <div class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      <div class="description">{%  if post.content contains site.excerpt_separator or post.content != post.excerpt %}{{ post.excerpt }}
          {% else %}{{ post.content | lstrip | split: "
" | first }}{% endif %}</div>
      <div style="clear: both;"></div>
    </div>
    {% endfor %}
</div>
<button class="loadMore">Load More</button>
  <!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div> -->