<sidebar>
<div class="card">
  <div class="card-head">Popular Posts</div>
  <div class="card-body">Lorem ipsum dolor sit amet, docendi ponderum platonem ius ei, cu etiam placerat elaboraret eum. Molestie consetetur et sea. Nec consul appareat vulputate ex, offendit torquatos assueverit ea sed. Eam semper docendi voluptaria ea, putent minimum epicurei at vix, pro unum erant ex. Labitur ornatus iracundia vix id, omittam recusabo liberavisse vel ea. Qui saepe aliquid dignissim id, dicam labore per in, omnium convenire qui ei.</div>
</div>
</sidebar>